{{ "<!-- Start About Section -->" | safeHTML }}
<section class="about-2 section bg-gray" id="about">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4">
                    <h2>Con Permiso </h2>
                    <h4>Alberto Mastra </h4>
            </div>
            <div class="col-12 col-md-7">
                    <p>Melodía y cifrado (por Pablo Rey) <a href="/partituras/conpermiso.pdf"><img class='doc' src='/images/pdf.png' alt='[conpermiso.pdf]' /></a> </p>
            </div>
        </div>
    </div>
</section>
{{ "<!-- End About section -->" | safeHTML }}
