{{ "<!-- Start About Section -->" | safeHTML }}
<section class="about-2 section bg-gray" id="about">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4">
                    <h2>Abran cancha: canta Mastra (con cuarteto de guitarras)</h2>
                    <h5>Proyecto financiado por el Fondo Concursable para la Cultura 2023</h5>
            </div>
            <div class="col-12 col-md-7">
                    <p>Este proyecto es una continuación de <a href="../conpermiso/">"Con Permiso: milongas de Alberto Mastra para cuarteto de guitarras"</a>. En esta ocasión, se propone escribir arreglos para cuarteto de guitarras, pero esta vez para acompañar un cantante. Además, se propone separar la voz de Alberto Mastra de las grabaciones disponibles, para que sea la voz del propio Mastra quien acompañe al cuarteto en las presentaciones en vivo. En 2023 el cuarteto se encuentra trabajando en el proyecto, y los avances se irán publicando en esta página.</p>

            </div>
        </div>
        
    </div>
</section>
{{ "<!-- End About section -->" | safeHTML }}
