{{ "<!-- Start About Section -->" | safeHTML }}

<div class="title text-center bg-gray">
  <h2>Documentos de análisis musical</h2>
  <span class="border"></span>
</div>
<section class="about-2 section bg-gray" id="about">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4">
                    <h2>Los arreglos para cuarteto de guitarras de Aníbal Arias </h2>
                    <h5>Pablo Rey </h5>
            </div>
            <div class="col-12 col-md-7">
                    <p>Análisis de los arreglos de tres piezas. <a href="/partituras/Los_arreglos_para_cuarteto_de_guitarras_de Anibal_Arias_Pablo_Rey.pdf"><img class='doc' src='/images/pdf.png' alt='[arreglos_arias.pdf]' /></a> </p>
            </div>
        </div>
    </div>
</section>


<section class="about-2 section bg-gray" id="about">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4">
                    <h2>Milonga Madre: las guitarras de Zitarrosa en grabaciones de 1977 y 1980 </h2>
                    <h5>Pablo Rey </h5>
            </div>
            <div class="col-12 col-md-7">
                    <p>Documento de análsis. <a href="/partituras/analisis_milonga_madre.pdf"><img class='doc' src='/images/pdf.png' alt='[analisis_milonga_madre.pdf]' /></a> </p>
            </div>
        </div>
    </div>
</section>

{{ "<!-- End About section -->" | safeHTML }}
