{{ "<!-- Start About Section -->" | safeHTML }}
<section class="about-2 section bg-gray" id="about">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-4">
                    <h2>Milonga Arrabalera </h2>
                    <h5>Alberto Mastra </h5>
                    <h5>Arreglo: Pablo Rey</h5>
            </div>
            <div class="col-12 col-md-7">

	        <div class="row align-items-center">
                    <div class="col-3 pagination">
                     <h5>Escuchar arreglo:</h5>
                    </div>
                    <div class="col pagination">
<audio class="player" controls preload="none"><source src="/mp3/milonga_arrabalera.mp3" type="audio/mp3"></audio></p>
                    </div>
		</div>

	        <div class="row align-items-center">
                    <div class="col-3 pagination">
                     <h5>Guitarra 1 <a href="/partituras/milonga_arrabalera_guitarra1.pdf"><img class='doc' src='/images/pdf.png' alt='[milonga_arrabalera.pdf]' /></a>                     </h5>
                    </div>
                    <div class="col pagination">
<audio class="player" controls preload="none"><source src="/mp3/milonga_arrabalera_guitarra1.mp3" type="audio/mp3"></audio></p>
                    </div>
		</div>

	        <div class="row align-items-center">
                    <div class="col-3 pagination">
                     <h5>Guitarra 2 <a href="/partituras/milonga_arrabalera_guitarra2.pdf"><img class='doc' src='/images/pdf.png' alt='[milonga_arrabalera.pdf]' /></a>                     </h5>
                    </div>
                    <div class="col pagination">
<audio class="player" controls preload="none"><source src="/mp3/milonga_arrabalera_guitarra2.mp3" type="audio/mp3"></audio></p>
                    </div>
		</div>

	        <div class="row align-items-center">
                    <div class="col-3 pagination">
                     <h5>Guitarra 3 <a href="/partituras/milonga_arrabalera_guitarra3.pdf"><img class='doc' src='/images/pdf.png' alt='[milonga_arrabalera.pdf]' /></a>                     </h5>
                    </div>
                    <div class="col pagination">
<audio class="player" controls preload="none"><source src="/mp3/milonga_arrabalera_guitarra3.mp3" type="audio/mp3"></audio></p>
                    </div>
		</div>

	        <div class="row align-items-center">
                    <div class="col-3 pagination">
                     <h5>Guitarra 4 <a href="/partituras/milonga_arrabalera_guitarra4.pdf"><img class='doc' src='/images/pdf.png' alt='[milonga_arrabalera.pdf]' /></a>                     </h5>
                    </div>
                    <div class="col pagination">
<audio class="player" controls preload="none"><source src="/mp3/milonga_arrabalera_guitarra4.mp3" type="audio/mp3"></audio></p>
                    </div>
		</div>

            </div>
        </div>
    </div>
</section>
{{ "<!-- End About section -->" | safeHTML }}


