{{ "<!-- Start About Section -->" | safeHTML }}
<section class="about-2 section bg-gray" id="about">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4">
                    <h2>El Garrón </h2>
                    <h5>Celestino Ferrer</h5>
                    <h6>Arreglo: Pablo Rey </h6>
            </div>
            <div class="col-12 col-md-7">
                    <p>Arreglo para cuarteto de guitarras <a href="/partituras/garron.pdf"><img class='doc' src='/images/pdf.png' alt='[garron.pdf]' /></a> </p>
            </div>
        </div>
    </div>
</section>
{{ "<!-- End About section -->" | safeHTML }}
