{{ "<!-- Start About Section -->" | safeHTML }}
<section class="about-2 section bg-gray" id="about">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4">
                    <h2>La Pulpera de Santa Lucía </h2>
                    <h5>Enrique Maciel - Héctor Pedro Blomberg </h5>
                    <h6>Arreglo: Pablo Rey </h6>
            </div>
            <div class="col-12 col-md-7">
                    <p>Arreglo para cuarteto de guitarras <a href="/partituras/pulpera.pdf"><img class='doc' src='/images/pdf.png' alt='[pulpera.pdf]' /></a> </p>
            </div>
        </div>
    </div>
</section>
{{ "<!-- End About section -->" | safeHTML }}
