{{ "<!-- Start About Section -->" | safeHTML }}
<section class="about-2 section bg-gray" id="about">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4">
                    <h2>Abran cancha: Mastra sings (with guitar quartet)</h2>
                    <h5>Project funded by the 2023 Culture Grant Fund (Fondo Concursable para la Cultura)</h5>
            </div>
            <div class="col-12 col-md-7">
                    <p>This project is a continuation of <a href="../conpermiso/">"Con Permiso: Milongas de Alberto Mastra para Cuarteto de Guitarras"</a> (Alberto Mastra's Milongas for Guitar Quartet). On this occasion, the proposal is to write arrangements for guitar quartet, but this time to accompany a singer. In addition, the proposal is to separate Alberto Mastra's voice from the available recordings, so that Mastra's own voice accompanies the quartet in live performances. In 2023, the quartet is working on the project, and progress will be published on this page.</p>

            </div>
        </div>
        
    </div>
</section>
{{ "<!-- End About section -->" | safeHTML }}
