{{ "<!-- Start About Section -->" | safeHTML }}
<section class="about-2 section bg-gray" id="about">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4">
                    <h2>Presentaciones del proyecto</h2>
            </div>
            <div class="col-12 col-md-7">
                    <p>La presentación oficial del proyecto fue el 24 de noviembre de 2023 en la sala del Centro Cultural Goes.</p>
<p>Durante 2023 y 2024 se realizaron varios espectáculos incluyendo este repertorio en el Teatro Unión de San Carlos (Maldonado), Pulpería El Parral (Dolores), y El Hormiguero.</p>
            </div>
        </div>
        
    </div>
</section>
{{ "<!-- End About section -->" | safeHTML }}
