{{ "<!-- Start About Section -->" | safeHTML }}
<section class="about-2 section bg-gray" id="about">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4">
                    <h2>{{ .Get 1 }} </h2>
                    <h5>{{ .Get 2 }} </h5>
            </div>
            <div class="col-12 col-md-7">
            <audio class="player" controls preload="none">

<source src="/mp3/{{ index .Params 0 }}" type="audio/mp3">

</audio>

                    <p><strong> Arreglo para cuarteto de guitarras: {{ .Get 3 }} </strong> </p>

		    <ul>
		      <li>Primera guitarra: {{ .Get 4 }}</li>
		      <li>Segunda guitarra: {{ .Get 5 }}</li>
		      <li>Tercera guitarra: {{ .Get 6 }}</li>
		      <li>Cuarta guitarra: {{ .Get 7 }}</li>
		    </ul>

                 
            </div>
        </div>
    </div>
</section>

