<h2 align="center"> {{ .Get 1 }} </h2>
<p align="center"> {{ .Get 2 }} </p>

<p align="center"> <strong> Arreglo para cuarteto de guitarras: {{ .Get 3 }} </strong></p>


<p align="center">
<audio class="player" controls preload="none">

<source src="/mp3/{{ index .Params 0 }}" type="audio/mp3">

</audio>

</p>

<div align="center">
<ul>
  <li>Primera guitarra: {{ .Get 4 }}</li>
  <li>Segunda guitarra: {{ .Get 5 }}</li>
  <li>Tercera guitarra: {{ .Get 6 }}</li>
  <li>Cuarta guitarra: {{ .Get 7 }}</li>
</ul>
</div>
