{{ "<!-- Start About Section -->" | safeHTML }}
<section class="about-2 section bg-gray" id="about">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4">
                    <h2>Con Permiso: milongas de Alberto Mastra para cuarteto de guitarras</h2>
                    <h5>(Alberto Mastra's Milongas for Guitar Quartet)</h5>
                    <h5>Project funded by the "Ventanilla Abierta 2022" grant | Support for the development of Uruguayan music.</h5>
            </div>
            <div class="col-12 col-md-7">
                    <p>The present project proposes to revalue and disseminate the work of Alberto Mastra, through the creation of arrangements for guitar quartet of some of his milongas. Scores and recordings of these arrangements can be found on this page.</p>
                    <p> Born in Montevideo in 1909, Alberto Mastracusa - known as Alberto Mastra - was a guitarist, singer, and composer, and is considered a key figure in Uruguayan popular music. He is the author of more than 100 registered works, including milongas, tangos, candombes, and boleros. Many of his compositions were recorded on phonograph by orchestras such as Aníbal Troilo, Carlos di Sarli, and Pedro Laurenz, and by important singers such as Roberto Goyeneche, Nelly Omar, and Edmundo Rivero, among others.</p>
<p>
As a performer, Alberto Mastra is of great interest for his particular timbre of voice and his way of playing the guitar - as a left-handed musician with right-handed strings, he occasionally displays virtuoso execution of the instrument.</p>
<p>
The Colibriyo quartet has been developing a project that seeks to preserve and revalue the format and sound of the guitar quartet through musical arrangements of national authors' works. In the framework of this project, a series of guitar quartet arrangements of Alberto Mastra's milongas were created, accompanied by scores and recordings of the arrangements, which can be found below for use as study materials and educational purposes. </p>

                    <h4>About these recordings</h4>
                    <p> The recordings that we present here have the sole objective of making available a sound reference of the arrangements and each of the guitars, for exclusively didactic purposes. 
Each guitar was recorded at a time, following a metronome, and then all the tracks were put together. However, these musical genres need to be recorded with musicians interacting, playing together and following gestures, looks that allow for an organic fluctuation of tempo and rhythm, a situation that is not possible when playing separately and then editing later. When playing together in the same space, it is not possible to isolate the sound of each of the guitars. For this reason, and for the exclusive educational purpose that these recordings pursue, they are presented in this way to facilitate listening for anyone who wants to approach these arrangements.
</p>


            </div>
        </div>
        
    </div>
</section>
{{ "<!-- End About section -->" | safeHTML }}
