{{ "<!-- Start About Section -->" | safeHTML }}
<section class="about-2 section bg-gray" id="about">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4">
                    <h2>Con Permiso: milongas de Alberto Mastra para cuarteto de guitarras</h2>
                    <h5>Proyecto financiado por el fondo Ventanilla abierta 2022 | Apoyo al desarrollo de las músicas del Uruguay</h5>
            </div>
            <div class="col-12 col-md-7">
                    <p>En el presente proyecto se propone revalorizar y difundir la obra de Alberto Mastra, a partir de la realización de arreglos para cuarteto de guitarras de algunas de sus milongas. Partituras y grabaciones de dichos arreglos se encuentran en esta página.</p>
                    <p> Nacido en Montevideo en 1909, Alberto Mastracusa —conocido como Alberto Mastra—, fue guitarrista, cantante y compositor, y es considerado una pieza clave de la música popular uruguaya. Es  autor de más de 100 obras registradas, incluyendo milongas, tangos, candombes y boleros. Muchas de sus composiciones fueron registradas en fonograma por orquestas como las de Aníbal Troilo, Carlos di Sarli y Pedro Laurenz, y por importantes cantantes como Roberto Goyeneche, Nelly Omar y Edmundo Rivero, entre otros.</p>
<p>
Como intérprete, Alberto Mastra es de mucho interés por su particular timbre de voz y por su forma de tocar la guitarra —zurdo con el encordado al derecho, despliega por momentos una ejecución virtuosa del instrumento.</p>
<p>
El cuarteto Colibriyo viene desarrollando un proyecto que busca preservar y revalorizar el formato y la sonoridad del cuarteto de guitarras a través de arreglos musicales propios de obras de autores nacionales. En el marco de este proyecto se realizaron una serie de arreglos para cuarteto de guitarras de milongas de Alberto Mastra, acompañadas de partituras y grabaciones de los arreglos, que se encuentran a continuación, para que puedan ser utilizadas como material de estudio y con fines educativos. </p>

                    <h4>Sobre las grabaciones</h4>
                    <p> Las grabaciones que presentamos aquí, tienen como único objetivo dejar a disposición una referencia sonora de los arreglos y cada una de las guitarras, con un fin exclusivamente didáctico. 
Se grabaron una guitarra a la vez, siguiendo un metrónomo y luego se montaron todas las pistas juntas. Sin embargo, estos géneros musicales necesitan ser grabados con músicos interactuando, tocando a la vez y siguiendo gestos, miradas que permitan una fluctuación orgánica del tempo y el ritmo, situación que no es posible tocando por separado y realizando un montaje luego. En este tocar juntos, en un mismo espacio, no es posible aislar el sonido de cada una de las guitarras. Por esta razón, y por el fin exclusivamente didáctico que estas grabaciones persiguen, es que están presentadas de esta manera, para facilitar la escucha de quien quiera abordar estos arreglos.
</p>

            </div>
        </div>
        
    </div>
</section>
{{ "<!-- End About section -->" | safeHTML }}
