<link rel="stylesheet" href={{ "css/galeria.css" | relURL }} />
                <div class="title text-center">
                    <h5>Fotos de presentaciones del proyecto</h5>
                    <span class="border"></span>
                </div>
<!--  Content that initiates the modal opening  -->
  <div class="modal-content-wrapper">
    <div class="image-modal-content">
        <img src="/images/galerias/goes.jpg" 
        data-title="Centro Cultural Terminal Goes" 
        data-description="Noviembre 2023. Foto de Lucía Martínez">
    </div>
    <div class="image-modal-content">
        <img src="/images/abran_cancha/goes1.jpg" 
        data-title="Centro Cultural Terminal Goes" 
        data-description="Noviembre 2023. Foto de Lucía Martínez">
    </div>
    <div class="image-modal-content">
        <img src="/images/abran_cancha/goes2.jpg" 
        data-title="Centro Cultural Terminal Goes" 
        data-description="Noviembre 2023. Foto de Lucía Martínez">
    </div>
    <div class="image-modal-content">
        <img src="/images/galerias/san_carlos.jpg" 
        data-title="Teatro Unión de San Carlos, Maldonado" 
        data-description="Noviembre 2023. Foto de Lucía Martínez">
    </div>
    <div class="image-modal-content">
        <img src="/images/abran_cancha/san_carlos2.jpg" 
        data-title="Teatro Unión de San Carlos, Maldonado. Prueba de sonido." 
        data-description="Noviembre 2023. Foto de Lucía Martínez">
    </div>
    <div class="image-modal-content">
        <img src="/images/abran_cancha/san_carlos3.jpg" 
        data-title="Teatro Unión de San Carlos, Maldonado." 
        data-description="Noviembre 2023. Foto de Lucía Martínez">
    </div>
  </div>


  <!-- modal popup (displayed none by default) -->
  <div class="image-modal-popup">
    <div class="wrapper">
     <span>&times;</span>
      <img src="" alt="Image Modal">
      <div class="description">
        <h1>This is placeholder content</h1>
        <p>This content will be overwritten when the modal opens</p>
      </div>
    </div>
  </div>
  
