{{ "<!-- Start About Section -->" | safeHTML }}
<section class="about-2 section bg-gray" id="about">
  <div class="raya">
       <span class="border"></span>
    </div>
 <br> <br>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4">
                    <h2>Etapa de digitalización</h2>
            </div>
            <div class="col-12 col-md-7">
                    <p>Se digitalizaron tres cintas de 2 pulgadas y 24 canales en el estudio El Attic, Buenos Aires, coordinada y emprendida por el Archivo Zitarrosa, a través de Martin Monteiro. La cuarta cinta, de 1/2 pulgada, se encontraba borrada, por lo que se procedió a digitalizar el respaldo en formato ADAT de 8 canales, en Doctor Audio Labs, Barra da Tijuca - Rio de janeiro. De esta manera, se logró digitalizar todo el material multipista disponible de los años 1977 y 1980. </p>
            </div>
        </div>
 <br>
        <div class="row">
            <div class="col-12 col-md-4">
        <video width=100% controls>
    <source src="/images/milonga_madre/cintas.mp4" type="video/webm">
    Digitalización de cintas en BsAs.  
	</video>
		<p>    Digitalización de cintas en BsAs.  </p>
            </div>
            <div class="col-12 col-md-7">

            
            <img width=100% src="/images/milonga_madre/cidae.jpg">
            
            		<p> Reunión de coordinación en CIDDAE, Teatro Solís. Marzo de 2024 </p>
	<video width=100% controls>
    <source src="/images/milonga_madre/adat.mp4" type="video/webm">
    Digitalización de ADAT en Rio de Janeiro.  
	</video>
		<p> Digitalización de ADAT en Rio de Janeiro.   </p>
            </div>
        </div>
        
	
    </div>
</section>
{{ "<!-- End About section -->" | safeHTML }}
