{{ "<!-- Start About Section -->" | safeHTML }}
<section class="about-2 section bg-gray" id="about">
  <div class="raya">
       <span class="border"></span>
    </div>
 <br> <br>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4">
                    <h2>Equipo técnico  y artístico </h2>
            </div>
            <div class="col-12 col-md-7">
            <p> <ul><li>Pablo Rey - Arreglador, director musical, intérprete </li>
<li>Julio Cobelli - Consultor, asesor musical, intérprete </li>
<li>Martín Monteiro - Consultor, Director del Archivo Zitarrosa </li>
<li>Fabricia Malán - Musicóloga especializada en archivos sonoros </li>
<li>Ignacio Irigaray, Marcelo Fiori, Martín Rocamora - Intérpretes </li>
<li>Patricia Moreno - Difusión y producción</li>
</ul> </p>

            </div>
        </div>
 <br>
        
        
	
    </div>
</section>
{{ "<!-- End About section -->" | safeHTML }}
