{{ "<!-- Start About Section -->" | safeHTML }}
<section class="about-2 section bg-gray" id="about">
  <div class="raya">
       <span class="border"></span>
    </div>
 <br> <br>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4">
                    <h2>Etapa de transcripción </h2>
            </div>
            <div class="col-12 col-md-7">
                    <p>Se seleccionaron seis milongas de las presentes en las cintas mencionadas, y Pablo Rey realizó la transcripción de las partes de cada guitarra. Las milongas seleccionadas fueron: "Milonga para una niña", "Stefanie", "Canción de los horneros", "Milonga del solitario", "Gotita de licor", y "Vea patrón". </p>
                    
                    <p>Las transcripciones de los arreglos originales de estas milongas así como el documento de análisis musical, se encuentran disponibles con fines educativos en esta web, así como en la del  Archivo Zitarrosa <a href="http://www.zitarrosa.org">www.zitarrosa.org</a>. </p>

            </div>
        </div>
 <br>
        
        
	
    </div>
</section>
{{ "<!-- End About section -->" | safeHTML }}
