{{ "<!-- Start About Section -->" | safeHTML }}
<section class="about-2 section bg-gray" id="about">
  <div class="raya">
       <span class="border"></span>
    </div>
 <br> <br>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4">
                    <h2>Presentaciones en vivo </h2>
            </div>
            <div class="col-12 col-md-7">
            <p> Una parte importante del proyecto consistió en mostrar los resultados en presentaciones públicas. Esto implicó ensayar y trabajar aspectos interpretativos de los arreglos en una serie de encuentros con el maestro Julio Cobelli. Finalmente, se realizaron dos presentaciones en vivo, donde el Cuarteto Colibriyo junto al maestro Julio Cobelli interpretaron las milongas seleccionadas, utilizando la voz de Alfredo Zitarrosa proveniente de las grabaciones digitalizadas. Los visuales estuvieron a cargo de Victoria Rodríguez (<a href="https://www.instagram.com/ruthconteache/">Vico</a>). Además, Martín Monteiro y Pablo Rey realizaron una presentación del contexto histórico, trabajo realizado, y curiosidades del proyecto.</p>

                    <p>Las presentaciones tuvieron lugar en la Sala Zitarrosa el miércoles 4 de diciembre, y en el Aula Magna del CENUR Salto, Udelar, el viernes 6 de diciembre, ambas con un excelente marco de público. </p>
            </div>
        </div>
 <br>
        
        
	
    </div>
</section>
{{ "<!-- End About section -->" | safeHTML }}
