{{ "<!-- Start About Section -->" | safeHTML }}
<section class="about-2 section bg-gray" id="about">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-5">
                    <h2>Milonga madre: las guitarras de Zitarrosa en grabaciones de 1977 y 1980</h2>
                    <h5>Proyecto en conjunto con el Archivo Zitarrosa, financiado por el Fondo Concursable para la Cultura 2024</h5>
            </div>
            <div class="col-12 col-md-6">
                    <p>En este proyecto se pretende contribuir a la preservación de la sonoridad y estética del cuarteto de guitarras como formación típica, a través del estudio y difusión de un conjunto de milongas del repertorio de Alfredo Zitarrosa.  Para ello se realizó la transcripción de las partes de cada guitarra a partir de las sesiones de grabación de 1977 y 1980, disponibles por canales separados en las cintas originales. Este proyecto se elaboró a instancias del Archivo Zitarrosa, el cual conserva dichas cintas y las puso a disposición. 
En la primera etapa se realizó la restauración y digitalización de las cintas para obtener los canales separados de cada guitarra. Luego, en la siguiente etapa se procedió a la selección y transcripción de 6 milongas y la elaboración de un documento de divulgación con un análisis musical de las características de los arreglos transcritos. Por último, el cuarteto Colibriyo estudió los arreglos y trabajaró sobre los aspectos interpretativos y estilísticos con el maestro Julio Cobelli, para su presentación en vivo. El proyecto se presentó en la Sala Zitarrosa y en el Aula Magna del CENUR Salto, Udelar, los días 4 y 6 de diciembre respectivamente. El documento de análisis y las partituras se encuentran a disposición en esta página.</p>

            </div>
        </div>
        
    </div>


</section>

{{ "<!-- End About section -->" | safeHTML }}
