{{ "<!-- Start About Section -->" | safeHTML }}
<section class="about-2 section bg-gray" id="about">
  <div class="raya">
       <span class="border"></span>
    </div>
 <br> <br>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4">
                    <h2>Etapa de trabajo en los arreglos </h2>
            </div>
            <div class="col-12 col-md-7">
                    <p>Actualmente el cuarteto se encuentra ensayando los arreglos, y manteniendo reuniones con el maestro Julio Cobelli para trabajar sobre aspectos interpretativos y analizar los arreglos. </p>
            </div>
        </div>
 <br>
        
        
	
    </div>
</section>
{{ "<!-- End About section -->" | safeHTML }}
