{{ "<!-- Start About Section -->" | safeHTML }}
<section class="about-2 section bg-gray" id="about">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-5">
                    <h2>Milonga madre: las guitarras de Zitarrosa en grabaciones de 1977 y 1980</h2>
                    <h5>Proyecto en conjunto con el Archivo Zitarrosa, financiado por el Fondo Concursable para la Cultura 2024</h5>
            </div>
            <div class="col-12 col-md-6">
                    <p>En este proyecto se pretende contribuir a la preservación de la sonoridad y estética del cuarteto de guitarras como formación típica, a través del estudio y difusión de un conjunto de milongas del repertorio de Alfredo Zitarrosa.  Para ello se realizará la transcripción de las partes de cada guitarra a partir de las sesiones de grabación de 1977 y 1980, disponibles por canales separados en las cintas originales. Este proyecto se elaboró a instancias del Archivo Zitarrosa, el cual conserva dichas cintas y las puso a disposición. 
La primera etapa, ya culminada, requiere la restauración y digitalización de las cintas para obtener los canales separados de cada guitarra. Luego, la siguiente etapa consiste en la selección y transcripción de 6 milongas y la elaboración de un documento de divulgación con un análisis musical de las características de los arreglos transcritos. Por último, el cuarteto Colibriyo estudiará los arreglos y trabajará sobre los aspectos interpretativos y estilísticos con el maestro Julio Cobelli, para su presentación en vivo.</p>

            </div>
        </div>
        
    </div>


</section>

{{ "<!-- End About section -->" | safeHTML }}
