{{ "<!-- Start About Section -->" | safeHTML }}
<section class="about-2 section bg-gray" id="about">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4">
                    <h2>Musical projects</h2>
                    <h5>of the quartet</h5>
            </div>
            <div class="col-12 col-md-7">
                    <p>In the beginning, the Colibriyo quartet set out to create an initial repertoire of tangos, milongas, and Rio de la Plata waltzes, studying and rehearsing the available arrangements by Anibal Arias for guitar quartets. Thus, "El Viejo Vals," "Mano Brava," "A la Guardia Nueva," "Pablo," "Romance de Barrio," and "La Trampera" were heard on these four guitars.</p>
                    <p> After these Arias arrangements, and a study of this form of arranging (which can be read -in spanish- <a href="/partituras/Los_arreglos_para_cuarteto_de_guitarras_de Anibal_Arias_Pablo_Rey.pdf">here</a>), Pablo Rey wrote two arrangements for the quartet, "La Pulpera de Santa Lucía" and the tango "El Garrón," which were quickly incorporated into the repertoire.</p>
<p>
With these two original arrangements, the quartet set out to create their own repertoire, with arrangements of Uruguayan music. In 2022, they applied for funding from the Ventanilla Abierta fund of the National Institute of Music (MEC) with the project  <a href="../conpermiso/">"Con Permiso: milongas de Alberto Mastra para cuarteto de guitarras"</a> (Alberto Mastra's Milongas for Guitar Quartet), which proposed to revalue and disseminate the work of Alberto Mastra, through the creation of arrangements for guitar quartet of some of his milongas. The application was accepted, and arrangements for six Mastra milongas were written, rehearsed, recorded, and presented live. The scores and recordings of these arrangements can be found on the project page (<a href="../conpermiso/">here</a>).</p>
<p>
Continuing their interest in milongas and Mastra's work, the quartet applied to the Culture Grant Fund (MEC) with the project  <a href="../abrancancha/">"Abran cancha: canta Mastra (con cuarteto de guitarras)"</a> -Mastra sings (with guitar quartet)-, which proposes to write arrangements for guitar quartet, but this time to accompany a singer. Additionally, it proposes to separate Alberto Mastra's voice from the available recordings so that Mastra's own voice accompanies the quartet in live performances. The application was accepted, and so in 2023, the quartet is working on the project. The progress will be published on the project page (<a href="../abrancancha/">here</a>).</p>

            </div>
        </div>
        
    </div>
</section>
{{ "<!-- End About section -->" | safeHTML }}



